/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
   /*Saturate that shit*/
   --saturation-factor: 8 !important;
   /*Poppins font from google fonts*/
   --font-primary: 'Poppins', sans-serif !important;
   --font-display: 'Poppins', sans-serif !important;
   --font-headline: 'Poppins', sans-serif !important;
   --font-code: "Segoe UI",Tahoma,sans-serif !important;
}

/*Apply saturation to certain images*/
.image-20MDYu.marginBottom40-fvAlAV,
.userSettingsSecurityImage-1ZkUEz,
.emptyStateImage-1kilCd,
.icon-2g_pHb.perkNewsletter-3f0-gG.perkIcon-Fs9ArR,
.ownerIcon-255uKo{
   filter:saturate(800%) !important;
}

/*Don't saturate certain objects
TODO: Add other stuff to not saturate?*/
.profileBadge22-3OAigE.profileBadge-2YySEb,
.flagImage-jJKVoX,
.bigPerkArt-2FBijV.perksCardArt-3pjOfB,
.perksCardArt-3pjOfB,
.profileBadge24-3UMhUO.profileBadge-2YySEb,
.gameIcon-1mDo1J,
.imageWrapper-oMkQl4.desaturate-_Twf3u,
.gradient-ICI49D,
.backgroundImages-2m7jaB,
.imageWrapper-oMkQl4.bottomIllustration-GuKjww img,
.icon-35A7dl.iconImage-1PY-Hf,
.container-1M_GA6.settingsHero-2Me_mE,
.card-3ie2dy,
.fakeActivityIcon-KeXVoI.activityCharacterWumpus-31wmZ9,
.icon-2g_pHb.perkNewsletter-3f0-gG.perkIcon-Fs9ArR{
   filter:saturate(100%) !important;
}

foreignObject[mask="url(#svg-mask-status-offline)"] .status-2DiCMd{
   background-color: rgb(185, 187, 190) !important;
}

/*Better sidebar*/
.container-YkUktl{
   flex-direction: column;
   height:fit-content;
}

.container-YkUktl .avatarWrapper-1B9FTW{
   width: 100%;
   margin: auto;
   margin-top:5px;
   margin-bottom:5px;
}

.container-YkUktl .flex-2S1XBF{
   border-top: 1px solid var(--background-secondary);
   padding-top: 2px;
   width: calc(100% + 16px);
   justify-content: center;
}

.text-xs-normal-3O7EaX.subtext-2HDqJ7{
   line-height: 16px;
}

/*Text explaining why saturation is disabled*/
.colorStandard-1Xxp1s.size14-k_3Hy4.description-foE_WP.formText-2UzJT0.marginBottom20-315RVT.modeDefault-3Warim#uid_13{
   font-size: 0;
}

/*Saturated offline icon looks like shit*/
.colorStandard-1Xxp1s.size14-k_3Hy4.description-foE_WP.formText-2UzJT0.marginBottom20-315RVT.modeDefault-3Warim#uid_13::before{
   content:"Bruh saturation is already set to 800% for this Better Discord theme.";
   font-size: 16px;
}

.slider-1mmyV6[aria-describedby="uid_13"]{
   display: none !important;
}

/*Always underline links*/
div[id^=message-content] > .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
   text-decoration: underline 2px !important;
}

/*'Show user profile' icon should be the same colour as the rest of the icons up top*/
div.toolbar-3_r2xA svg path{
   fill:rgb(220,221,222);
}

/*Always extend searchbar*/
.searchBar-jGtisZ{
   width:240px;
}

/*Redo of the top bar*/
.content-1jQy2l::before{
   display: none;
}
.searchBar-3TnChZ{
   box-shadow: none;
}
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_{
   background: var(--background-secondary);
}

/*Remove weird pseudo element*/
.children-3xh0VB:after{
   display: none;
}

/*Dashed dividers for messages just... got them vibes, y'know*/
.divider-2rZFJK{
   border-top: thin dashed var(--background-modifier-accent) !important;
}

.divider-2rZFJK.content-3spvdd{
   font-weight: 900;
}

/*Stripethrough failed messages*/
.messageContent-2t3eCI.isFailed-2b8sCy{
   text-decoration: line-through !important;
}

/*No guild backgrounds in the emoji menu*/
.categoryItemGuildCategory-3mvXlo.categoryItem-1sHzUv div svg foreignObject .guildIcon-2SUGiq{
   background-color: transparent !important;
}

/*Make the card borders in "authorised apps" easier on the eye*/
.cardPrimaryOutline-1ofwVz{
   border-color: var(--background-secondary);
}

/*Fuck dividers, all my homies hate dividers*/
.divider-1tWBgZ,
.separator-1So4YB{
   display: none;
}

/*Smooth everything out*/
*{
   transition: background-color 0.5s, color 0.5s, border 0.5s, opacity 0.2s !important;
}

/*Make usernames bold*/
.username-u-ebrn:hover{
   font-weight:900 !important;
}

/**/
.markup-eYLPri a:hover {
   text-decoration: underline var(--channels-default);
}

/**/
.name-3BUDLf.container-q97qHp{
   color: var(--channels-default) !important;
}

/*Custom icons*/
[style='background-image: url("/assets/d1382af8d9e755bc44811b1fd92990a8.svg");']{
   background-image: url("https://raw.githubusercontent.com/WeeScottishPuffin/Saturated/main/icons/joinServer.svg") !important;
}

[style='background-image: url("/assets/f772d3d7eddcf3c84f710c10999479f0.svg");']{
   background-image: url("https://raw.githubusercontent.com/WeeScottishPuffin/Saturated/main/icons/leaveServer.svg") !important;
}

/*Stripes are cool, right?*/
.banner-1YaD3N{
   background: linear-gradient(45deg, #00000000 25%, #00000033 25%, #00000033 50%, #00000000 50%, #00000000 75%, #00000033 75%, #00000033 100%) repeat;
   background-size: 40.00px 40.00px;
}

.container-3jbRo5,
.notice-2HEN-u{
   background: linear-gradient(45deg, #00000000 25%, #00000010 25%, #00000010 50%, #00000000 50%, #00000000 75%, #00000010 75%, #00000010 100%) repeat;
   background-size: 40.00px 40.00px;
}

.colorDefault-1e8tQv {
   background-color: var(--status-positive-background);
   color: var(--status-positive-text);
}

.info-1hMolH{
   background-color: var(--info-help-background);
}

.warning-RBGtx2{
   background-color: var(--info-warning-background);
}

.danger-1t5auf{
   background-color: var(--info-danger-background);
}

/*Join top bar with the... christ... sidebar?*/
.container-ZMc96U{
   background-color:var(--background-secondary) !important;
}

.tabBody-2dgbAs::before{
   display: none;
}

/*Custom info text line*/
.info-3pQQBb:last-child:after {
   content: " \a Discord Saturated V1.0.0";
   font-size: 12px;
   white-space: pre;
   line-height: 16px;
   color: var(--text-muted);
}

/*
.childWrapper-1j_1ub{
   background: url(https://cdn.discordapp.com/avatars/1058786883888484472/3c5261b48bb183a825ea3b117b083996.webp?size=48) no-repeat;
}
.childWrapper-1j_1ub svg{
   display: none;
}
*/
